# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files (Senin karar verebilirsin ama genellikle github'a env atılmaz)
# Şimdilik güvenlik için sadece gizli şeyleri kapatıyorum.
.env.local

# typescript
*.tsbuildinfo

# Docker
mysql_data/
